{% extends 'blog/content_post.html' %}
{% load extras %}

{% block content %}
    <div class="content container">
        <div class="row">

                
    			{% for post in posts %}
    				{% if forloop.first %}
    					<h2>{{description}}</h2>
    				{% endif %}

        	   		         {% include 'blog/post.html' %}

    				
    				{% if forloop.last %}
    					<h3>Отличная работа, все прочитано</h3>
    					<span>Лучше бы настоящую работу себе нашел...</span>
    				{% endif %}

    				
    				{% ifequal forloop.revcounter 2 %}
    					<span>Готовся, последнее сообщение </span>
    				{% endifequal %}

    			{% empty %}
    				<h2>Кажись постов пока не завезли</h2>
    		    {% endfor %}

        </div>
    </div>
        {% comment %}{% python_time "%B" "dfgsdfg" x=10 %}
        
        {% show_results "Save" %} {% endcomment %}

        {% multiply 10 20 %}
            кратные
        {% Если %}
            не кратные
        {% endmultiply %}

        {% кратность 10 3 %}
            3
        {% ИфЕсли 10 4  %}
            4
        {% ИфЕсли 10 7  %}
            5
        {% Если %}
            та ну его 
        {% конецкратность %}


{% if True %}
sdfgsdfgdfgd
 {% endif %}

{% endblock %}

{% if False %}
       {% block title %}
            &lt;All Posts
       {% endblock %}

 {% endif %}
}
ваыпварпварвловырапоывраполрыавлпорыавлопрыалопрывалпорывалопрываллыоравплоырваплывар